@{
    ViewData["Title"] = "Users";

    var users = await userService.GetAllWhitRolesAsync();

}

<div>
@*    <div>
        User Edit
        <a asp-controller="user" asp-action="index">User handler</a>
    </div>*@

    @if(users != null)
    {
        <div class="users container">
            <h1>Users</h1>
            @foreach(var (user, roles) in users)
            {
                <div class="mb-3">
                    <div>@user.Id</div>
                    <div>Firstname: @user.FirstName</div>
                    <div>Lastname: @user.LastName</div>
                    <div>Email: @user.Email</div>
                    <div>
                        @foreach (var role in roles)
                        {
                            <span class="me-2">Role: @role</span>
                        }
                    </div>
                    @*<a asp-action="rolechange" asp-controller="admin" asp-route-id="@user.Id">Change Role</a>*@
                </div>   
            }
        </div>
    }
</div>
