@model ProductDetailViewModel

@{
    ViewData["Title"] = "Detail";
}


<section class="details">

    <div class="container"> 
        
        <div class="image-container">
            <img src="@Model.ImgUrl" alt="@Model.Name">
        </div>

        <div class="detail-info">
            <div class="title">@Model.Name</div>
            <div class="info-item">@Model.Description</div>

            <div class="rating">
                <span class="fa-solid fa-star" style="color: #FFB71B"></span>
                <span class="fa-solid fa-star" style="color: #FFB71B"></span>
                <span class="fa-solid fa-star" style="color: #FFB71B"></span>
                <span class="fa-solid fa-star" style="color: #FFB71B"></span>
                <span class="fa-solid fa-star"></span>
                <div class="reviews">16 Reviews</div>
            </div>
            
            <div class="price">$@Model.Price</div>
            <div class="add-amount">
                <div class="amount">
                    <button class="btn btn-light"><i class="fa-light fa-plus"></i></button>
                    <label class="current-amount">2</label>
                    <button class="btn btn-light"><i class="fa-light fa-minus"></i></button>
                </div>
                <button class="btn-theme">Add to Cart<i class="tocart fa-regular fa-cart-plus"></i></button>
            </div>
            <div class="colors">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <p> SKU N/A</p>
            </div>
            <button class="btn-white">Add to Wishlist</button>
            <div class="category">@Model.Category</div>
        </div>

    </div>

</section>


